*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Trebuchet MS;
    background-image: url(BG.png);
    background-size: cover;
    background-attachment: fixed;
    
}

nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#36454F, #b8138e);
}
nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: rgb(198, 79, 204),rgb(224, 128, 168),;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}

nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: white;
    text-decoration: none;
}
nav li a:hover{
    color: #f7a6ea;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .about-us{
    height: 140vh;
    width: 100%;
    padding: 10px 0;
    background: #c49ac5;
  }
  .pic{
    height: auto;
    width:  302px;
  }
  .about{
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .text{
    width: 540px;
  }
  .text h2{
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 10px;
  
  }
  .text h5{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  span{
    color: #000000;
  }
  .text p{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(32, 32, 32);
    color: white;
    text-align: center;
  }